
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

@*@{
    var grafik = new Chart(width: 500, height: 500);
    grafik.AddTitle(text: "Kategoriler ve Ürün Sayıları");
    grafik.AddLegend(title: "Değerler");
    grafik.AddSeries(
        name: "Veriler",
        chartType: "bar",
        xValue: new[]
        {
            "Beyaz Eşya","Teknoloji","Laptop","Outdoor"
                                        },
        yValues: new[]
        {
            500,250,450,750
                                        }
        );
    grafik.Write();
}*@