
@{
    ViewBag.Title = "kategoriUrun";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>kategoriUrun</h2>

<div style="width:600px;height:600px">
    <img src="@Url.Action("kategoriUrun","Grafik")"/>
</div>