@model MvcOnlineTicariOtomasyon.Models.Siniflar.Cascading
@{
    ViewBag.Title = "CascadindDeneme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />

<div>
    <h2>Kategoriler - Ürünler</h2>
</div>
<br />
<div>
    @Html.Label("Kategoriler")
    @Html.DropDownList("DrpKategori", Model.Kategoriler, "Kategori Seçiniz", new { @class = "form-control" })
    <br />
    @Html.Label("Ürünler")
    @Html.DropDownList("DrpUrun", Model.Urunler, "Ürün Seçiniz", new { @class = "form-control" })
</div>

<script src="~/Scripts/jquery-3.7.0.min.js"></script>

<script>

    $(function () {

        $('#DrpKategori').change(function () {

            var id = $('#DrpKategori').val();

            $.ajax({

                url: '/Kategori/kategoriyeGorUrun',

                data: { parametre: id },

                type: "POST",

                dataType: "Json",

                success: function (data) {

                    console.log(data);

                    $('#DrpUrun').empty();

                    for (var i = 0; i < data.length; i++) {

                        $('#DrpUrun').append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option>");

                    }

                }

            });

        });

    });

</script>