@model MvcOnlineTicariOtomasyon.Models.Siniflar.Kategori

@{
    ViewBag.Title = "kategoriEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br/>
<h2 style="margin-left:20px">Yeni Kategori Ekleme</h2> 
<br/>

<form class="form-group"method="post" style="margin-left:20px">
    @Html.Label("Kategori Adı:")
    @Html.TextBoxFor(x => x.KategoriAd,new {@class ="form-control"})
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>