
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div>
    @using (Html.BeginForm("Index", "QR", FormMethod.Post))
    {
        <input type="text" name="kod" style="margin-left: 20px"/>
        <input type="submit" value="QR Oluştur" style="margin-left: 20px" />
    }
    <br />
    @if (ViewBag.kareKod != null) 
    {
        <img src="@ViewBag.kareKod" alt="" style="width:400px;height:400px;margin-left:20px" />
    }
</div>

