@model MvcOnlineTicariOtomasyon.Models.Siniflar.Departman
@{
    ViewBag.Title = "Departman Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2 style="margin-left:20px">Departman Ekleme</h2>
<br />

<form class="form-group" method="post" style="margin-left:20px">
    @Html.Label("Departman Adı:")
    @Html.TextBoxFor(x=>x.DepartmanAd, new {@class ="form-control"})
    <br/>
    <button class="btn btn-success">Ekle</button>
</form>

